html {
  font-size: 20px;
}

main {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.MuiTextField-root {
}

.MuiInput-underline {
  &:before,
  &:after {
    border-bottom-width: 4px !important;
  }
}
